body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}


footer {
    min-height: 50px;
    padding-top:12px;
}


.ig-thumbnil img {
    max-width: 100%;
    height: auto;
    display: block;
  }

